@font-face {
    font-family: banger;
    src: url("./Bangers-Regular.ttf");
  }
body{
    margin:0px;
}
.header_container{
    height:50px;
    background-color: green;
}
.ul_header{

    font-family: "banger";
    /* font-family: 'Satisfy', cursive,serif; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: green;
    padding-top: 10px;
}

li{
    display: inline;
    color:white;
    font-size: 20px;
    margin-left: 30px;
    letter-spacing: 5px;
    
}
.main{
    height:1000px;
    background-image: url("https://img.freepik.com/premium-photo/hand-is-grabbing-slice-pizza-with-pepperoni-olives_855944-173.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
}
.main_firstheading{
    font-family: satisfy;
    color: greenyellow;
    text-align: center;
    font-size: 60px;
    margin:0px;
    padding-top: 100px;

}
.main_secondheading{
    text-transform: uppercase;
    font-size: 100px;
    text-align: center;
    color: white;
    margin-top: 30px;
    font-weight: 900;
    font-family: sans-serif;
}

.card{
    border:5px solid red;
    width:400px;
    text-align: center;
    border:20px solid black;
    outline:1px solid black;
    margin-top: 10px;
    background-color: pink;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.icon{
    position: relative;
    bottom:100px;
    left:20px;
}













